.product{
    margin-left: 30% ;
    justify-content: center;



}
.inputBox{
    padding: 7px;
    display: block;
    border: 1px solid black;
    width:   300px ;
    margin: 2opx ;

}
.appbutton{
    margin-bottom: 20%;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid darkred;
    width: 30px;
}

